@import '../../theme/styles/mixins.scss';
.container {
	& .bigText {
		text-align: center;
		@include bigText;
		font-size: 30px;
	}
}
@media screen and (max-width: 600px) {
	.container {
		display: none;
	}
}
