@import './palette.scss';

* {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: $backgroundColor;
    color: $colorWhite;
    overflow-x: hidden;
    font-family: sans-serif;
    margin: 0px;
    // overflow-y: hidden;
}
button {
    border: none;
    cursor: pointer;
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}

.toTop {
    cursor: pointer;

    position: fixed;
    top: 85%;
    right: 0.5%;

    display: grid;
    place-content: center center;

    width: 3rem;
    height: 3rem;

    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;

    background: $footerViolet;
    border-radius: 100%;

    z-index: 1;

    &:hover {
        animation: jump 0.35s linear;
    }
}

@keyframes jump {
    0% {
        top: 85%;
    }
    50% {
        top: 84%;
    }
    100% {
        top: 85%;
    }
}
