@import './palette.scss';

body {
	background-color: $backgroundColor;
	color: $colorWhite;
	overflow-x: hidden;
	font-family: sans-serif;
	margin: 0px;
	// overflow-y: hidden;
}
button {
	border: none;
	cursor: pointer;
	outline: none;
}
