@mixin boxShadow($color) {
	box-shadow: 0rem 0.25rem 1.5625rem $color;
	background-color: $color;
	color: $colorWhite;
}

@mixin bigText {
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin navBarTemplate {
	display: grid;
	grid-template-columns: 13.8% 40% auto;
	grid-gap: 6%;
	// z-index: 1;
	// position: relative;
	padding-left: 11%;
	padding-right: 10%;

	& .logo {
		// padding-top: 38px;
		width: 81%;
	}
	& .btnUrl {
		// font-size: 97%;
		// line-height: 20px;
		text-align: center;
		// height: 100%;
		color: #ffffff;
		background-color: Transparent;
		padding: 10px;
		overflow: hidden;
	}
	& .containerBtnUrl {
		// padding-top: 30px;
		display: grid;
		grid-template-columns: auto auto auto;
	}
}
