@mixin boxShadow($color) {
	box-shadow: 0rem 0.25rem 1.5625rem $color;
	background-color: $color;
	color: $colorWhite;
	width: 90%;
	height: 240%;
}

@mixin bigText {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 220%;
	line-height: 110%;
	text-transform: uppercase;
}
