@mixin boxShadow($color) {
	box-shadow: 0rem 0.25rem 1.5625rem $color;
	background-color: $color;
	color: $colorWhite;
}

@mixin bigText {
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin aTemplate {
	& a {
		position: relative;
		padding: 10px 0;
		color: white;
		cursor: pointer;
	}

	& a:before,
	& a:after {
		content: '';
		position: absolute;
		transition: inherit;
		z-index: -1;
	}
}
