@import '../../theme/styles/palette.scss';
@import '../../theme/styles/mixins.scss';

.container {
	// float: left;
	margin-top: 40%;

	background-image: url(/static/assets/images/bottom2.png);

	// transform: scale(1, -1);
	background-repeat: no-repeat;
	background-size: 230%;
	padding-bottom: 7%;
	& .bigText {
		text-align: center;
		@include bigText;
		padding-right: 5%;
	}
	& .table {
		text-align: center;
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 5%;
		padding: 5% 10% 10% 11%;
	}
}
