@import '../../../theme/styles/palette.scss';
@import '../../../theme/styles/mixins.scss';

.bg {
    cursor: pointer;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center center;

    background: #06011be1;

    z-index: 100;

    & .container {
        display: grid;
        grid-auto-rows: min-content;
        place-items: center center;
        gap: 1rem;

        max-width: 400px;

        padding: 1rem 3rem;

        background: #33208a;

        border-radius: 8px;

        &.successContainer {
            padding: 1rem 0.5rem;
        }

        & .tick,
        .cross {
            width: 25%;
        }

        & p {
            font-size: 1.2rem;
            text-align: center;
        }

        & input {
            height: 3rem;
            text-align: center;
            outline: none;
            font-size: 1.2rem;

            color: #5541ad;

            border-radius: 4px;
            border: none;
        }

        & button {
            background: $buttonOrange;

            height: 3rem;
            width: 70%;

            border-radius: 4px;
            border: none;

            transition: background-color 0.3s;

            &:hover {
                background-color: $buttonViolet;
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .bg {
        & .container {
            & p {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .bg {
        & .container {
            & p {
                font-size: 1.2rem;
            }
        }
    }
}
