// @import '../../theme/svg/startupPage.svg';
@import '../../theme/styles/mixins.scss';
@import '../../theme/styles/palette.scss';

.container {
	& .bgContainer {
		background-image: url(/static/assets/svg/startupPage.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		width: 2187px;
		height: 1049px;
		left: -133px;
		top: -20px;
	}
	& .topLinear {
		width: 100%;
		position: absolute;
		height: 340px;
		top: 0px;
		background: linear-gradient(180deg, #10053f 0%, rgba(16, 5, 63, 0) 100%);
		mix-blend-mode: normal;
	}

	& .table {
		display: grid;
		grid-template-columns: 580px 300px;
		grid-gap: 50px;
		z-index: 1;
		position: relative;
		// padding-top: 120px;
		padding: 120px 270px;
		& .infoBlock {
			font-family: sans-serif;
			& .bigText {
				padding-top: 40px;
				font-weight: bold;
				font-size: 45px;
				line-height: 56px;
				text-transform: uppercase;
			}
			& .p1 {
				padding-top: 36px;
				font-size: 24px;
				line-height: 139.19%;
				color: #d4cbf9;
			}
			& .p2 {
				padding-top: 41px;
				font-size: 17px;
				line-height: 139.19%;
				// color: #d4cbf9;
			}
			& .btns {
				padding-top: 61px;
				display: grid;
				grid-template-columns: auto auto;
				grid-gap: 30px;
				& .fireBtnOrange {
					@include boxShadow($buttonOrange);
				}
				& .fireBtnViolet {
					@include boxShadow($buttonViolet);
				}
			}
		}
		& .dashboardImg {
		}
	}
	& .bottomLinear {
		// background: linear-gradient(180deg, #10053f 0%, rgba(16, 5, 63, 0) 100%);
		// mix-blend-mode: normal;
		// box-shadow: 0px 4px 65px rgba(69, 139, 148, 0.066);
		// transform: rotate(-180deg);
		position: absolute;
		top: 884px;
		background: linear-gradient(180deg, #10053f 89%, rgba(16, 5, 63, 0) 104%);
		transform: rotate(-180deg);
	}
	& .test {
		position: absolute;
		top: 511px;
	}
}
