@import '../../theme/styles/mixins.scss';
@import '../../theme/styles/palette.scss';

.container {
	& .bgContainer {
		background-image: url(/static/assets/svg/startupPage.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 124%;
		@media screen and (min-width: 1367px) {
			height: 95%;
		}
		@media screen and (max-width: 1366px) {
			height: 105%;
		}
		left: -9%;
		top: -1%;
	}
	& .topLinear {
		width: 100%;
		position: absolute;
		height: 50%;
		top: 0px;
		background: linear-gradient(180deg, #10053f 0%, rgba(16, 5, 63, 0) 100%);
		mix-blend-mode: normal;
	}

	& .table {
		display: grid;
		grid-template-columns: 43% 25%;
		grid-gap: 5%;
		z-index: 1;
		position: relative;
		padding: 7% 11%;
		& .infoBlock {
			font-family: sans-serif;
			& .bigText {
				padding-top: 8%;
				@include bigText;
			}
			& .p1 {
				padding-top: 7%;
				font-size: 110%;
				line-height: 138%;
				color: $paragraphGray;
			}
			& .p2 {
				padding-top: 6%;
				font-size: 90%;
				line-height: 130%;
				color: $paragraphGray;
			}
			& .btns {
				padding-top: 10%;
				display: grid;
				grid-template-columns: auto auto;
				grid-gap: 10%;
				& .fireBtnOrange {
					@include boxShadow($buttonOrange);
				}
				& .fireBtnViolet {
					@include boxShadow($buttonViolet);
				}
			}
		}
		& .dashboardImg {
			width: 195%;
		}
	}
	& .bottomLinear {
		position: absolute;
		top: 78%;
		width: 100%;
		height: 200px;
	}
	& .test {
		position: absolute;
		top: 45%;
	}
}
