@import '../../theme/styles/palette.scss';
@import '../../theme/styles/mixins.scss';

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.7fr 1.5fr 1fr 0.7fr;
    grid-column-gap: 1rem;
    place-items: center center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    padding: 1rem 4rem;

    width: 100vw;
    height: 5.5rem;

    background: linear-gradient(#0d013c 60%, transparent);

    & .logo {
        cursor: pointer;
        place-self: center center;

        height: 100%;
        min-width: 150px;
    }
    @include aTemplate;

    & .anchorContainer {
        place-self: center start;

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        place-items: center center;

        & .anchor {
            font-size: 1.5rem;
            text-align: center;
            padding: 0 0.5rem;
            cursor: pointer;

            &:before {
                border: 1px solid white;
                border-left: 0;
                border-right: 0;
            }

            &:hover {
                &:before {
                    bottom: 0;
                    left: 5%;
                    width: 90%;

                    animation: animateBefore 0.15s linear;
                }
            }
        }
    }

    & .download {
        cursor: pointer;
        grid-column: 4;

        place-self: center start;

        padding: 0.8rem 1.5rem;
        text-align: center;
        background: $buttonOrange;
        font-size: 1.15rem;

        transition: background-color 0.3s;

        &:hover {
            background-color: $buttonViolet;
        }
    }
}

@media screen and (max-width: 1030px) {
    .container {
        grid-template-columns: 1.75fr 3fr 2fr;
        & .anchorContainer {
            display: none;
        }
    }
}

@media screen and (max-width: 770px) {
    .container {
        grid-template-columns: 2fr 3fr;

        & .download {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr 2fr;
        padding: 1rem;
        font-size: 13px;
        & .download {
            padding: 0.8rem;
        }
        & .logo {
            height: 2.5rem;
        }
    }
}
@media screen and (max-width: 360px) {
    .container {
        font-size: 12px;
    }
}

@keyframes animateBefore {
    0% {
        left: 50%;
        width: 0;
    }

    100% {
        left: 15%;
        width: 70%;
    }
}
