@import '../../theme/styles/mixins.scss';
.container {
	display: grid;
	padding-top: 1rem;
	padding-bottom: 2rem;
	& .bigText {
		@include bigText;
		text-align: center;
		font-size: 30px;
	}

	& .imagesBlock {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		height: 750px;

		& .imgMain {
			display: grid;
			background-repeat: no-repeat;
			background-size: 180%;
			background-position-x: 8%;
			& .logo {
				place-self: center;
				width: 50%;
			}
		}
	}
}

@media screen and (max-width: 1650px) {
	.container {
		padding-top: 9rem;
		& .imagesBlock {
			height: 600px;
			& .imgMain {
				& .logo {
					width: 45%;
				}
			}
		}
	}
}
@media screen and (max-width: 1650px) {
	.container {
		padding-top: 11rem;
		& .imagesBlock {
			height: 550px;
			& .imgMain {
				& .logo {
					width: 40%;
				}
			}
		}
	}
}
@media screen and (max-width: 1450px) {
	.container {
		& .imagesBlock {
			height: 460px;
		}
	}
}

@media screen and (max-width: 1030px) {
	.container {
		& .imagesBlock {
			display: grid;
			width: 100%;
			grid-template-columns: 1fr;

			& .imgMain {
				background-size: 140%;
				background-position-x: 0;
				height: inherit;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.container {
		padding-top: 3rem;
		& .imagesBlock {
			height: 335px;
		}
	}
}

@media screen and (max-width: 600px) {
	.container {
		& .imagesBlock {
			height: 315px;
			& .imgMain {
				background-size: 180%;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.container {
		& .bigText {
			font-size: 23px;
		}
	}
}
@media screen and (max-width: 400px) {
	.container {
		& .bigText {
			font-size: 19px;
		}
		& .imagesBlock {
			height: 280px;
		}
	}
}
@media screen and (max-width: 360px) {
	.container {
		& .imagesBlock {
			height: 250px;
		}
	}
}
