@import '../../theme/styles/mixins.scss';
@import '../../theme/styles/palette.scss';

.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    padding: 0 5% 1%;
    place-items: center;

    & .logo {
        cursor: pointer;
        width: 50%;
        min-width: 150px;
    }
    @include aTemplate;

    & .anchorContainer {
        place-self: center start;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        place-items: center center;

        & .anchor {
            text-align: center;
            cursor: pointer;
            font-size: 1.5rem;

            &:before {
                border: 1px solid white;
                border-left: 0;
                border-right: 0;
            }

            &:hover {
                &:before {
                    bottom: 0;
                    left: 5%;
                    width: 90%;

                    animation: animateBefore 0.15s linear;
                }
            }
        }
    }

    & .contacts {
        display: grid;
        grid-template-columns: auto auto auto;

        padding-left: 60%;
        cursor: pointer;

        & .icon {
            transition: all 0.2s;
            max-width: 4rem;
            min-width: 3rem;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

hr {
    border: none;
    background-color: $footerViolet;
    color: $footerViolet;
    height: 2px;
}

.textFooter {
    padding: 1% 0;
    text-align: center;
    color: $footerViolet;
}

@media screen and (max-width: 1436px) {
    hr {
        height: 1px;
    }
}
@media screen and (max-width: 1030px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        padding: 3%;
        & .logo {
            width: 55%;
        }
        & .contacts {
            padding-left: 65%;
            padding-right: 5%;
        }
        & .anchorContainer {
            display: none;
        }
    }
}

@media screen and (max-width: 440px) {
    .textFooter {
        font-size: 10px;
    }

    .container {
        & .contacts {
            place-self: center;
            padding-left: 2rem;

            & .icon {
                width: 3rem;
            }
        }
    }
}

@keyframes animateBefore {
    0% {
        left: 50%;
        width: 0;
    }

    100% {
        left: 15%;
        width: 70%;
    }
}
