@import '../../theme/styles/palette.scss';

.containerTimer {
	display: grid;
	grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
	place-content: center center;
	height: 7rem;
	& .block {
		padding: 2rem 0rem;
		text-align: center;
		background: $timerGray;
		border-radius: 7%;
		height: 100%;
		& .time {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 26px;
			padding-bottom: 10px;
		}
		& .nameTime {
			color: $paragraphGray;
			font-size: 22px;
		}
	}
	& .twoPoints {
		text-align: center;
		place-self: center;
	}
}
@media screen and (max-width: 1400px) {
	.containerTimer {
		height: 6rem;
		& .block {
			padding: 1rem 0rem;
			& .nameTime {
				font-size: 17px;
			}
		}
	}
}
@media screen and (max-width: 1030px) {
	.containerTimer {
		padding: 0rem 4rem;
		& .block {
			height: 8rem;
			padding: 2rem 1rem;
		}
	}
}
@media screen and (max-width: 882px) {
	.containerTimer {
		& .block {
			padding: 2rem 0rem;
			& .time {
				font-size: 24px;
			}
			& .nameTime {
				font-size: 20px;
			}
		}
	}
}
@media screen and (max-width: 638px) {
	.containerTimer {
		& .block {
			& .nameTime {
				font-size: 16px;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.containerTimer {
		padding: 0rem 1rem;
		& .block {
			height: 7rem;
			& .time {
				font-size: 22px;
			}
			& .nameTime {
				font-size: 18px;
			}
		}
	}
}

@media screen and (max-width: 462px) {
	.containerTimer {
		padding: 0rem 0.1rem;
		& .block {
			padding: 2rem 0rem;
			& .time {
				font-size: 20px;
				padding-bottom: 10%;
			}
			& .nameTime {
				font-size: 14px;
			}
		}
	}
}
