// @import '../../theme/styles/palette.scss';
.containerTimer {
	padding-top: 3%;
	display: grid;
	grid-template-columns: 18% 3.8% 18% 3.8% 18% 3.8% 18%;
	& .block {
		width: 93%;
		height: 109%;
		background: #2d3664;
		border-radius: 7%;
		& .time {
			padding-top: 22%;
			font-weight: bold;
			font-size: 187%;
			line-height: 121%;
			text-align: center;
			text-transform: uppercase;
		}
		& .nameTime {
			padding-top: 13%;
			font-size: 93%;
			line-height: 121%;
			text-align: center;
			color: #958cb9;
		}
	}
	& .twoPoints {
		display: flex;
		align-items: center;
		font-size: 162%;
	}
}
